.maincontent{
    max-width: 950px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    margin: auto;
    padding-top: 120px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
    scrollbar-width: 0px;
    scroll-behavior: smooth
    
}

.chart{
    max-width: 620px;
    max-height: 500px;
}

.paragraph{
    font-size: 16px;
    line-height: 160%;
    font-family: "spectral";
}

.callout{
    font-size: 24px;
    line-height: 112%;
    font-family: "spectral";
}

.textblock{
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.chaptername{
    font-size: 86px;
    line-height: 93%;
    font-family: "spectral";
    text-align: center;
}

.subchaptername{
    max-width: 620px;
    font-size: 36px;
    line-height: 100%;
    font-family: "spectral";
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
    text-align: center;
}

.bottompadding{
    height: 240px;
    border-bottom: solid 1px black;
    width: 100%;
}

.subchapterNav{
    /* position: fixed;
    top: 0px;
    left: 0px; */
    height: 100vh;
    border-right: solid 1px ;
    width: 60px;
    display: flex;
    justify-content: center;
    padding-top: 240px;
}

.subchapterInnerNav{
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 240px; */
}

.subchapterInnernavText{
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 120px;
}

.previousSubChapter:hover{
    background-color: rgba(0, 0, 0, 0.15);    
}

.previousSubChapterContainer{
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.previousSubChapter{
    width: 100%;
    height: 17px;
    padding-left: 12px;
    border-top: solid 1px rgba(0, 0, 0, 0.3);

}

.upcomingSubChapter{
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    height: 72px;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px black;
    width: 100%;
    padding-left: 12px;

}

.upcomingSubChapter:hover{
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.subchapterNav:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.subchapterNavText{
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    line-height: 100%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.subchaptermodules{
    display: flex;
    flex-direction: column;
    gap:64px;
}